body {
	background-color: #eee;
}
p {color: blue;}

md-card{
	max-width: 50%;
}
.words {
	font-size: large;
	margin-left:4px;
	/*border: 1px solid #ccc;*/
}

.selected {
	color: white;
	background-color: blue;
	border-radius: 3px;
	padding:2px;

}

.error {
	color: red;
}

.gameover {
	color: darkgreen;

}

#timer {
	font-size: 40px;
}

#score {
	float:right;
	font-size: 30px;
}

#inputID{
	font-size: x-large;
}

.typed-words{
	display: inline-block;
	min-width: 30px;
	background-color: #eee;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

span[contenteditable=true] {
 /* border: 1px dashed #AAA;
  width: 290px;
  padding: 5px;*/
}